{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <h1>Welcome</h1>
    <div>
        <a href="{{ path('app_login') }}">Se connecter</a>
    </div>
{% endblock %}